<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> this is LoginForm page </h2>

<form>
    <fieldset>
        <label for="userId">Your ID</label>
        <input type="text" name="id" id="userId"/>
        <label for="userPw">Your Password</label>
        <input type="text" name="pw" id="userPw" placeholder=""/>
        <button type="button" id="submitBtn">Sing in</button>
        <a></a>
    </fieldset>
</form>
<script>
    document.getElementById("submitBtn").addEventListener("click", function() {
        console.log("submitBtn clicked.");
        console.log("id", document.getElementById("userId").value);
        console.log("pw", document.getElementById("userPw").value);
        let formData = {
            "id" : document.getElementById("userId").value,
            "pw" : document.getElementById("userPw").value,
        };
        fetch("/login", {
          method: "post",
          headers: { "Content-type": "application/json"},
          body: JSON.stringify(formData)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                console.log(response);
                return response.text(); // 문자열 형식의 응답을 파싱
            })
            .then(data => {
                console.log("data:", data);
                if (data === "LOG_IN_OK") {
                    alert("Login Success");
                } else if (data === "LOG_IN_ERR") {
                    alert("Login Failed");
                }
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    });

</script>
</body>
</html>